node_modules
.vscode
.github
dist
tsconfig.node.json
tsconfig.json
package-lock.json
package.json
tsconfig.app.json
PASSWORD_RESET_FLOW.md
APP_FLOWCHART.md
POSTMAN_API_TESTING.md
ExpenseTracker-Environment.postman_environment.json
ExpenseTracker-Postman-Collection.json
ExpenseTracker_Report.tex
ExpenseTracker API Collection.json
RECEIPT_SCANNER_FIXES.md
supabase_receipts_migration.sql
RECEIPT_SCANNER_TESTING.md
API_DOCUMENTATION.md
